
.bienvenidos{
    font-size: 32px;
    margin-top: 180px;
    color: #f0ede9;
    text-align: center;    
    background-color: #eef1ed48;
    font-family: Apple Chancery;
    font-style: italic;
}

  .button {
    display: inline-block;
    border-radius: 34px;
    background-color: #23ad3a;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 0.1rem;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 85px 530px;
  }
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
  
  content: '\00bb';  /* Entidades CSS. Para usar entidades HTML, use &#8594;*/
  
  position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }